<!DOCTYPE html>
<html class="has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		{{ encore_entry_link_tags('app') }}
        <title>Ekuzone.fr - {% block title %}Ecussons{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
		{% block js %}{% endblock %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172317099-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-172317099-1');
		</script>
    </head>
    <body>
	
	
	<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
	  <div class="navbar-brand">
		<a class="navbar-item" href="/">
		  <img src="/img/logo_mini.png">
		</a>
		<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
		  <span aria-hidden="true"></span>
		  <span aria-hidden="true"></span>
		  <span aria-hidden="true"></span>
		</a>
	  </div>

	  <div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-start">{#
		  <a class="navbar-item">
			Accueil
		  </a>

		  <div class="navbar-item has-dropdown is-hoverable">
			<a class="navbar-link">
			  A propos
			</a>

			<div class="navbar-dropdown">
			  <a class="navbar-item">
				En savoir plus
			  </a>
			  <a class="navbar-item">
				Crédits
			  </a>
			</div>
		  </div>
		  #}

		<div class="navbar-item" id="search_head">
			<input class="input is-primary typeahead" type="text" placeholder="Destinations, utilisateurs...">
		</div>

		</div>

		<div class="navbar-end">
		  <div class="navbar-item">
			<div class="buttons">
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<a class="button">
						{{ app.user.login }}
					  </a>
					<a class="button is-primary" href="{{ path('app_logout') }}">Déconnexion</a>
				{% else %}
					<a class="button is-primary" id="connexion">
				Connexion
			  </a>
				{% endif %}
			  
			</div>
		  </div>
		</div>
	  </div>
	</nav>
	
	
	
	
	
	
		{% block hero %}{% endblock %}

        <div class="container p-t-lg">
		{% for message in app.flashes('notice') %}
			<div class="p-b-lg">
				{{ message }}
			</div>
		{% endfor %}

		{% block body %}{% endblock %}
		</div>

		<footer class="footer has-background-secondary m-t-lg">
		  <div class="content has-text-centered">
			<p class="is-size-8">
				<strong>Ekuzone.fr</strong><br />
				<a href="{{ path('user_profile', {slug: "mbfcs2"}) }}">La collection d'Antony</a>
			</p>
		  </div>
		</footer>
        {% block javascripts %}{% endblock %}
	{{ encore_entry_script_tags('app') }}
	<script>
		document.addEventListener('DOMContentLoaded', () => {

		  // Get all "navbar-burger" elements
		  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

		  // Check if there are any navbar burgers
		  if ($navbarBurgers.length > 0) {

			// Add a click event on each of them
			$navbarBurgers.forEach( el => {
			  el.addEventListener('click', () => {

				// Get the target from the "data-target" attribute
				const target = el.dataset.target;
				const $target = document.getElementById(target);

				// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
				el.classList.toggle('is-active');
				$target.classList.toggle('is-active');

			  });
			});
		  }
		  
		  // connexion
		  const $bouton_connexion = document.getElementById("connexion") ;
		  const $modal_close_bouton = document.getElementById("connexion_modal_close") ;
		  const $modal_connexion = document.getElementById("connexion_modal");
		  if ($bouton_connexion !== null) {
			  $bouton_connexion.addEventListener('click', () => {
				  $modal_connexion.classList.add('is-active');
			  });
		  }
		  $modal_close_bouton.addEventListener('click', () => {
				$modal_connexion.classList.remove('is-active') ;
		  });

		});



		</script>

		<div class="modal" id="connexion_modal">
		  <div class="modal-background"></div>
		  <div class="modal-card">
			<form method="post" action="/login">
				<header class="modal-card-head">
				  <p class="modal-card-title">Connexion</p>
				  <button class="button is-primary" aria-label="close" id="connexion_modal_close">Fermer</button>
				</header>
				<section class="modal-card-body">

					<div class="columns">
						<div class="column is-three-fifths is-offset-one-fifth">
							<label for="inputEmail" class="sr-only">E-mail</label><br>
							<input type="email" name="email" id="inputEmail" class="input is-primary form-control" placeholder="Email" required autofocus>
							<br><br>
							<label for="inputPassword" class="sr-only">Mot de passe</label><br>
							<input type="password" name="password" id="inputPassword" class="input is-primary form-control" placeholder="Mot de passe" required>
							<br><br>
							<input type="hidden" name="_csrf_token"
								   value="{{ csrf_token('authenticate') }}"
							>
							<div class="checkbox mb-3">
								<label>
									<input type="checkbox" name="_remember_me"> Se souvenir de moi
								</label>
							</div>
						</div>
					</div>
					
				</section>
				<footer class="modal-card-foot">
				  <button class="button is-primary" type="submit">Valider</button>
				  <a class="button is-pulled-right" href="{{ path('app_signup') }}">M'inscrire</a>
				</footer>
			</form>
		  </div>
		</div>
    </body>
</html>
