{% extends 'destination/destination_base.html.twig' %}

{% block body %}



	<div class="columns">
		<div class="column is-full">
			{% set pulledright %}
				{% transchoice destination.items.count %}{0} Aucun écusson|{1} 1 écusson|]1,Inf] %count% écussons{% endtranschoice %}
			{% endset %}
			{% include 'site/includes/barreTitre.html.twig' with {'title': 'Ecussons ' ~ destination.name, 'pulledRight': pulledright} %}

			<div class="columns is-multiline is-mobile">
				{% if pagination.pageCount > 1 %}
					<div class="column is-full">
						<div class="navigation">
							{{ knp_pagination_render(pagination) }}
						</div>
					</div>
				{% endif %}
				{% if pagination.items is empty %}
					<div class="column is-full">
						{% include 'site/includes/blocContent.html.twig' with {'content': 'Aucun écusson pour cette destination.'} %}
					</div>
				{% endif %}
				{% for item_under in pagination.items %}

					<div class="column is-half-mobile is-half-tablet is-one-quarter-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
						<a href="{{ path('item_show', {'id': item_under.id}) }}">
							<div style="background-color:white;height:100%;box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .1);">
								<div style="height:70px; padding:10px;overflow:hidden;line-height:20px;background-color:moccasin;text-align:center;display:flex;align-items:center;justify-content:center">
									<p>
										<span><b>{{ item_under.destination.name }}</b></span><br />
										<span style="font-size:0.7em">{{ item_under.destination.parent.name }}</span>
									</p>
								</div>

								<div style="height:300px; background-color:white;position:relative;display:flex;align-items:center;justify-content:center">
									{% if item_under.getMainIllustration %}
										<img src="{{ vich_uploader_asset(item_under.getMainIllustration, 'imageFile') }}" style='max-width:100%;max-height:100%;'>
									{% else %}
										<p><i>Pas d'illustration</i></p>
									{% endif %}
								</div>

								<div style="height:70px; padding:10px;overflow:hidden;line-height:20px;background-color:#eeeeee;text-align:center;display:flex;align-items:center;justify-content:center">
									<span>{{ item_under.designation }}</span>
								</div>
							</div>
						</a>
					</div>

				{% endfor %}

				{% if pagination.pageCount > 1 %}
					<div class="column is-full">
						<div class="navigation">
							{{ knp_pagination_render(pagination) }}
						</div>
					</div>
				{% endif %}

			</div>
		</div>
	</div>

{% endblock %}
