{% extends 'base.html.twig' %}

{% block title %}Item{% endblock %}

{% block body %}

<script type="text/javascript" language="javascript">

    function gotitem() {
		
        var httpRequest = false;

        httpRequest = new XMLHttpRequest();

        if (!httpRequest) {
            alert('Abandon :( Impossible de créer une instance XMLHTTP');
            return false;
        }
        httpRequest.onreadystatechange = function() { 
			
			if (httpRequest.readyState == XMLHttpRequest.DONE) {
				if (httpRequest.status == 200) {
					var data = JSON.parse(httpRequest.responseText);
					if (data.data) {
						document.getElementById('gotit').innerHTML = 'Vous avez cet item';
					}
					else {
						document.getElementById('gotit').innerHTML = 'Vous n\'avez pas cet item';
					}
					document.getElementById('gotit').innerHTML += " Modifier" ;
					
				} else {
					alert('Un problème est survenu avec la requête.');
				}
			}

		};
        httpRequest.open('GET', '{{ path('user_gotitem', {'id': item.id}) }}', true);
        httpRequest.send();

    }

</script>


    <h1>Item</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Fabricant</th>
                <td>{{ item.fabricant.nom }}</td>
            </tr>
            <tr>
                <th>Reference_fabricant</th>
                <td>{{ item.referenceFabricant }}</td>
            </tr>
			<tr>
                <th>Description</th>
                <td>{{ item.designation }}</td>
            </tr>
			{% if item.destination %}
            <tr>
                <th>Destination</th>
                <td>{{ item.destination.name }}</td>
            </tr>
			
            <tr>
                <th>Destination</th>
                <td>{{ item.destination.affiche_arbo }}</td>
            </tr>
			{% endif %}
			
        </tbody>
    </table>
	
	{% for illustration in item.illustrations %}
	<img src="{{ vich_uploader_asset(illustration, 'imageFile') }}">
	{% endfor %}
	
	
	
	

    <a href="{{ path('item_index') }}">back to list</a>

    <a href="{{ path('item_edit', {'id': item.id}) }}">edit</a>

    {{ include('item/_delete_form.html.twig') }}
	
	
	
	
	


        {% if user %}
		Vous êtes {{ user }}.
			<span
			style="cursor: pointer; text-decoration: underline"
			onclick="gotitem()" id="gotit">
			{% if gotitem %}
			Vous avez cet item.
			{% else %}
			Vous n'avez pas cet item.
			{% endif %}
		    Modifier
			
			</span>
		{% else %}
		Vous n'êtes pas connecté
		{% endif %}

	
	
	
	
	
{% endblock %}




